{% load static %}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width"/>
<title>iTech Academia</title>
<!-- CSS Files-->
<link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">

<link rel="stylesheet" href="{% static 'stylesheets/skins/blue.css' %}">
<!-- skin color -->
<link rel="stylesheet" href="{% static 'stylesheets/responsive.css' %}">
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<!-- HIDDEN PANEL 
================================================== -->
<div id="panel">
	<div class="row">
		<div class="twelve columns">
			<img src="http://www.wowthemes.net/demo/studiofrancesca/images/info.png" class="pics" alt="info">
			<div class="infotext">
				 Thank you for visiting my theme! Replace this with your message to visitors.
			</div>
		</div>
	</div>
</div>
<p class="slide">
	<a href="#" class="btn-slide"></a>
</p>
<!-- HEADER
================================================== -->
<div class="row">
	<div class="headerlogo four columns">
		<div class="logo">
			<a href="index">
			<h4>iTech Academia</h4>
			</a>
		</div>
	</div>
	<div class="headermenu eight columns noleftmarg">
		<nav id="nav-wrap">
		<ul id="main-menu" class="nav-bar sf-menu">
			<li class="current">
			<a href="index">Home</a>
			</li>
			<li>
			<a href="#">Achievements</a>
			</li>
			<li>
			<a href="#">Login</a>
			<ul>
				<li><a href="about.html">Faculty Login</a></li>
				<li><a href="services.html">Student Login</a></li>
			</ul>
			</li>
			<li>
			<a href="#">Help</a>
			</li>
			<li>
			<a href="#">Contact</a>
			</li>
		</ul>
		</nav>
	</div>
</div>
<div class="clear">
</div>
<!-- SUBHEADER
================================================== -->
<div id="subheader" class="blogstyle">
	<div class="row">
		<div class="eight columns">
			<p class="bread leftalign">
				 You are here: <a href="index"> Home</a> / <a href="cse_home">CSE</a> / <a href="cse_syllabus">Syllabus</a>
			</p>
		</div>
		
	</div>
</div>
<div class="hr">
</div>
<!-- CONTENT 
================================================== -->
<!-- SINGLE COLUMN-->
<div class="row">
	<div class="twelve columns">
		<h4>Department of Computer Science and Engineering</h4>
		<hr>
		<div class="six columns">
			<h5 style="text-align: center;">TABS</h5><br><br>
			<dl class="tabs">
				<dd class="active"><a href="#simple1">Simple Tab 1</a></dd>
				
			</dl>
			<ul class="tabs-content">
				<li class="active" id="simple1Tab">
				<p>
					This is simple tab 1's content. Pretty neat, huh? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et non ex maxima parte de tota iudicabis? Item de contrariis, a quibus ad genera formasque generum.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et non ex maxima parte de tota iudicabis? Item de contrariis, a quibus ad genera formasque generum venerunt. Sit enim idem caecus, debilis. Duo Reges: constructio interrete.
				</p>
				<p>
					Sit enim idem caecus, debilis. Duo Reges: constructio interrete.
				</p>
				</li>
			</ul>
		</div>
		<p>
			<div class="six columns">
				<h5 style="text-align: center;">ANNA UNIVERSITY, CHENNAI<br>
					AFFILIATED INSTITUTIONS<br>
					B.E. COMPUTER SCIENCE AND ENGINEERING<br>
					REGULATIONS – 2017<br>
					CHOICE BASED CREDIT SYSTEM</h5>
				<ul class="accordion">
					<li class="active">
					<div class="title">
						<b>Programme Outcome</b>
					</div>
					<div class="content" style="overflow: hidden; display: block; ">
						<p>
							<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/CSE%2FCse_syllabus%2FProgramme%20Outcome.pdf?alt=media&token=c98a3bd5-9acc-444c-afcc-b81ad7765783">All Semester Programme Outcomes</a>
						</p>
					</div>
					</li>
					<li class="">
						<div class="title">
							<b>Subjects and Credits</b>
						</div>
						<div class="content" style="overflow: hidden; display: none; ">
							<p>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/CSE%2FCse_syllabus%2FSubjects%20and%20Credits.pdf?alt=media&token=8f2f3efb-4d3e-4fc0-b5ea-f3272d06a556">All Semester Subjects and their Credits</a>
							</p>
							</div>
							</li>
					<li class="">
						<div class="title">
							<b>Semester 1</b>
						</div>
						<div class="content" style="overflow: hidden; display: none; ">
							<p>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/CSE%2FCse_syllabus%2FSemester%201.pdf?alt=media&token=e1f7793e-f231-4fb1-9d67-fd53e11a99db">Semester 1 Syllabus</a>
							</p>
							</div>
							</li>
					<li class="">
					<div class="title">
						<b>Semester 2</b>
					</div>
					<div class="content" style="overflow: hidden; display: none; ">
						<p>
							<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/CSE%2FCse_syllabus%2FSemester%202.pdf?alt=media&token=d9fdb2e8-93ac-4601-a2d5-5038effa42d3">Semester 2 Syllabus</a>
						</p>
					</div>
					</li>
					<li class="">
					<div class="title">
						<b>Semester 3</b>
					</div>
					<div class="content" style="overflow: hidden; display: none; ">
						<p>
							<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/CSE%2FCse_syllabus%2FSemester%203.pdf?alt=media&token=e480a94f-5aa1-4ce2-9cdc-d08c9452f75b">Semester 3 Syllabus</a>
						</p>
						</div>
						</li>
					<li class="">
						<div class="title">
							<b>Semester 4</b>
						</div>
						<div class="content" style="overflow: hidden; display: none; ">
							<p>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/CSE%2FCse_syllabus%2FSemester%204.pdf?alt=media&token=a28711d8-c594-49cc-abf8-b6da8e833257">Semester 4 Syllabus</a>
							</p>
							</div>
							</li>
					<li class="">
						<div class="title">
							<b>Semester 5</b>
						</div>
						<div class="content" style="overflow: hidden; display: none; ">
							<p>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/CSE%2FCse_syllabus%2FSemester%205.pdf?alt=media&token=a8dad729-1ac4-4090-b8b9-d483607254ad">Semester 5 Syllabus</a>
							</p>
							</div>
							</li>
					<li class="">
						<div class="title">
							<b>Semester 6</b>
						</div>
						<div class="content" style="overflow: hidden; display: none; ">
							<p>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/CSE%2FCse_syllabus%2FSemester%206.pdf?alt=media&token=5f4dda23-146a-49b2-ae4b-858ad3a7432a">Semester 6 Syllabus</a><br><br>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/CSE%2FCse_syllabus%2FProfessional%20Elective%20Sem%206.pdf?alt=media&token=1ae1fa22-b84d-417c-9b9b-18f280c7c4d2">Professional Elective Semester 6</a>
							</p>
							</div>
							</li>
					<li class="">
						<div class="title">
							<b>Semester 7</b>
						</div>
						<div class="content" style="overflow: hidden; display: none; ">
							<p>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/CSE%2FCse_syllabus%2FSemester%207.pdf?alt=media&token=d26cbb4e-49d5-4b7d-9ec7-ea598887025f">Semester 7 Syllabus</a><br><br>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/CSE%2FCse_syllabus%2FProfessional%20Elective%20Sem%207.pdf?alt=media&token=98b0f6dd-33e4-4470-9df9-25b4938a9f77">Professional Elective Semester 7</a>
							</p>
							</div>
							</li>
					<li class="">
						<div class="title">
							<b>Semester 8</b>
						</div>
						<div class="content" style="overflow: hidden; display: none; ">
							<p>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/CSE%2FCse_syllabus%2FProfessional%20Elective%20Sem%208.pdf?alt=media&token=2dfb7def-11bc-49da-8d76-4dd2fe7ca5be">Professional Elective Semester 8</a>
							</p>
							</div>
							</li>
					</ul>
					
				
			</div>
		</p>
	</div>
</div>


<!-- END EXAMPLES-->
<div class="hr">
</div>

<!-- FOOOTER 
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
		<h1>ABOUT US</h1>
		 Our goal is to keep clients satisfied!
	</div>
	<div class="four columns">
		<h1>GET SOCIAL</h1>
		<a class="social facebook" href="#"></a>
		<a class="social twitter" href="#"></a>
		<a class="social deviantart" href="#"></a>
		<a class="social flickr" href="#"></a>
		<a class="social dribbble" href="#"></a>
	</div>
	<div class="four columns">
		<h1 class="newsmargin">NEWSLETTER</h1>
		<div class="row collapse newsletter floatright">
			<div class="ten mobile-three columns">
				<input type="text" class="nomargin" placeholder="Enter your e-mail address...">
			</div>
			<div class="two mobile-one columns">
				<a href="#" class="postfix button expand">GO</a>
			</div>
		</div>
	</div>
	</footer>
</div>
<div class="copyright">
	<div class="row">
		<div class="six columns">
			 &copy;<span class="small"> Copyright 2015 Your Agency Name</span>
		</div>
		<div class="six columns">
			<span class="small floatright"> Template by <a href="www.wowthemes.net">WowThemes.net</a></span>
		</div>
	</div>
</div>
<!-- JAVASCRIPTS 
================================================== -->
<!-- Javascript files placed here for faster loading -->
<script src="{% static 'javascripts/foundation.min.js' %}"></script>   
<script src="{% static 'javascripts/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'javascripts/elasticslideshow.js' %}"></script>
<script src="{% static 'javascripts/jquery.carouFredSel-6.0.5-packed.js' %}"></script>
<script src="{% static 'javascripts/jquery.cycle.js' %}"></script>
<script src="{% static 'javascripts/app.js' %}"></script>
<script src="{% static 'javascripts/modernizr.foundation.js' %}"></script>
<script src="{% static 'javascripts/slidepanel.js' %}"></script>
<script src="{% static 'javascripts/scrolltotop.js' %}"></script>
<script src="{% static 'javascripts/hoverIntent.js' %}"></script>
<script src="{% static 'javascripts/superfish.js' %}"></script>
<script src="{% static 'javascripts/responsivemenu.js' %}"></script>
</body>
</html>