{% load static %}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width"/>
<title>iTech Academia</title>
<!-- CSS Files-->
<link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">

<link rel="stylesheet" href="{% static 'stylesheets/skins/blue.css' %}">
<!-- skin color -->
<link rel="stylesheet" href="{% static 'stylesheets/responsive.css' %}">
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
    <!-- HIDDEN PANEL 
================================================== -->
<div id="panel">
	<div class="row">
		<div class="twelve columns">
			<img src="http://www.wowthemes.net/demo/studiofrancesca/images/info.png" class="pics" alt="info">
			<div class="infotext">
				 Thank you for visiting my theme! Replace this with your message to visitors.
			</div>
		</div>
	</div>
</div>
<p class="slide">
	<a href="#" class="btn-slide"></a>
</p>
<!-- HEADER
================================================== -->
<div class="row">
	<div class="headerlogo four columns">
		<div class="logo">
			
			<a href="index">
				<h4><img src="http://www.psgitech.ac.in/img/psg_tech_logo.png" width="50" height="50"> iTech Academia</h4>
			</a>
		</div>
	</div>
	<div class="headermenu eight columns noleftmarg">
		<nav id="nav-wrap">
		<ul id="main-menu" class="nav-bar sf-menu">
			<li class="current">
			<a href="index">Home</a>
			</li>
			<li>
			<a href="achievements">Achievements</a>
			
			</li>
			<li>
			<a href="#">Login</a>
			<ul>
				<li><a href="tlogin">Faculty Login</a></li>
				<li><a href="#">Student Login</a></li>
			</ul>
			</li>
			<li>
			<a href="tdash">Help</a>
			
			</li>
			
			<li>
			<a href="contact">Contact</a>
			</li>
		</ul>
		</nav>
	</div>
</div>
<!-- SLIDER 
================================================== -->
<div id="ei-slider" class="ei-slider">
	<ul class="ei-slider-large">
		<li>
		<img src="https://lh3.googleusercontent.com/lohXHqe2naGzFOwzSQHwLT2WmiGuO2oZUwTkvgP4KlEgLDb7T9aXunHU0heSTwBahRMEMwzUjA=w1080-h608-p-no-v0" alt="image01" class="responsiveslide">
		<div class="ei-title">
			<h2>Dare to</h2>
			<h3>Dream</h3>
		</div>
		</li>
		<li>
		<img src="https://cache.careers360.mobi/media/presets/720X480/colleges/social-media/media-gallery/8045/2018/8/27/PSG-Institute-of-Technology-and-Applied-Research-Coimbatore1.jpg" alt="image02" class="responsiveslide">
		<div class="ei-title">
			<h2>Dare to</h2>
			<h3>Hope</h3>
		</div>
		</li>
		<li>
		<img src="https://lh3.googleusercontent.com/IQ6XKpqRrUVyE548P67w2yb-_THokGpyo1HLHMMkl41BGZ0Tn6mA2ozB26z9qP6YSFMI3f-xtGF5lFl8jA=w960-h960-n-o-v1" alt="image03" class="responsiveslide">
		<div class="ei-title">
			<h2>Dare to</h2>
			<h3>Smile</h3>
		</div>
		</li>
		<li>
		<img src="https://hindigyanshethrhome.files.wordpress.com/2019/03/15284076_666248176889735_8526384939521016712_n.png" alt="image04" class="responsiveslide">
		<div class="ei-title">
			<h2>Dare to</h2>
			<h3>ask</h3>
		</div>
		</li>
		<li>
		<img src="http://placehold.it/1400x500/222" alt="image05" class="responsiveslide">
		<div class="ei-title">
			<h2>Dare to</h2>
			<h3>refuse</h3>
		</div>
		</li>
		<li>
		<img src="http://placehold.it/1400x500/222" alt="image06" class="responsiveslide">
		<div class="ei-title">
			<h2>Dare to</h2>
			<h3>give</h3>
		</div>
		</li>
		<li>
		<img src="http://placehold.it/1400x500/222" alt="image07" class="responsiveslide">
		<div class="ei-title">
			<h2>Dare to</h2>
			<h3>receive</h3>
		</div>
		</li>
		<li>
		<img src="http://placehold.it/1400x500/222" alt="image08" class="responsiveslide">
		<div class="ei-title">
			<h2>Dare to </h2>
			<h3>Love</h3>
		</div>
		</li>
		<li>
		<img src="http://placehold.it/1400x500/222" alt="image09" class="responsiveslide">
		<div class="ei-title">
			<h2>Dare to</h2>
			<h3>Forgive</h3>
		</div>
		</li>
		<li>
		<img src="http://placehold.it/1400x500/222" alt="image10" class="responsiveslide">
		<div class="ei-title">
			<h2>Stand up & </h2>
			<h3>Live</h3>
		</div>
		</li>
	</ul>
	<!-- slider-thumbs -->
	<ul class="ei-slider-thumbs">
		<li class="ei-slider-element">Current</li>
		<li><a href="#">Slide 1</a><img src="https://lh3.googleusercontent.com/lohXHqe2naGzFOwzSQHwLT2WmiGuO2oZUwTkvgP4KlEgLDb7T9aXunHU0heSTwBahRMEMwzUjA=w1080-h608-p-no-v0" class="slideshowthumb" alt="thumb01"/></li>
		<li><a href="#">Slide 2</a><img src="https://cache.careers360.mobi/media/presets/720X480/colleges/social-media/media-gallery/8045/2018/8/27/PSG-Institute-of-Technology-and-Applied-Research-Coimbatore1.jpg" class="slideshowthumb" alt="thumb02"/></li>
		<li><a href="#">Slide 3</a><img src="https://lh3.googleusercontent.com/IQ6XKpqRrUVyE548P67w2yb-_THokGpyo1HLHMMkl41BGZ0Tn6mA2ozB26z9qP6YSFMI3f-xtGF5lFl8jA=w960-h960-n-o-v1" class="slideshowthumb" alt="thumb03"/></li>
		<li><a href="#">Slide 4</a><img src="https://hindigyanshethrhome.files.wordpress.com/2019/03/15284076_666248176889735_8526384939521016712_n.png" class="slideshowthumb" alt="thumb04"/></li>
		<li><a href="#">Slide 5</a><img src="http://placehold.it/150x59/444" class="slideshowthumb" alt="thumb05"/></li>
		<li><a href="#">Slide 6</a><img src="http://placehold.it/150x59/444" class="slideshowthumb" alt="thumb06"/></li>
		<li><a href="#">Slide 7</a><img src="http://placehold.it/150x59/444" class="slideshowthumb" alt="thumb07"/></li>
		<li><a href="#">Slide 8</a><img src="http://placehold.it/150x59/444" class="slideshowthumb" alt="thumb08"/></li>
		<li><a href="#">Slide 9</a><img src="http://placehold.it/150x59/444" class="slideshowthumb" alt="thumb09"/></li>
		<li><a href="#">Slide 10</a><img src="http://placehold.it/150x59/444" class="slideshowthumb" alt="thumb10"/></li>
	</ul>
</div>
<div class="minipause">
</div>
<!-- SUBHEADER
================================================== -->
<div id="subheader">
	<div class="row">
		<div class="twelve columns">
			<p class="text-center">
				<strong style="color: black;">VISION</strong><br>
				To achieve excellence in education and research, and nurture engineers with ethics, who will face global challenges to serve industry and society.
			</p>
		</div>
	</div>
</div>
<!-- ANIMATED COLUMNS 
================================================== -->
<div class="row">
	<div class="twelve columns">
		<ul class="ca-menu">
			<li>
			<a href="cse_home">
			<span class="ca-icon"><i class="fa fa-desktop"></i></span>
			<div class="ca-content">
				<h2 class="ca-main">CSE</h2>
				<h3 class="ca-sub"> Computer Science<br>and Engineering</h3>
			</div>
			</a>
			</li>
			<li>
			<a href="ece_home">
			<span class="ca-icon"><i class="fa fa-wifi"></i></span>
			<div class="ca-content">
				<h2 class="ca-main">ECE</h2>
				<h3 class="ca-sub">Electronics and Communication<br>Engineering</h3>
			</div>
			</a>
			</li>
			
			<li>
			<a href="eee_home">
			<span class="ca-icon"><i class="fa fa-lightbulb-o"></i></span>
			<div class="ca-content">
				<h2 class="ca-main">EEE</h2>
				<h3 class="ca-sub">Electrical and Electronics <br>Engineering</h3>
			</div>
			</a>
			</li>

			<li>
				<a href="packages">
				<span class="ca-icon"><i class="fa fa-cloud-download"></i></span>
				<div class="ca-content">
					<h2 class="ca-main">Downloads</h2>
					<h3 class="ca-sub">Installation Packages</h3>
				</div>
				</a>
				</li>
			
			
		</ul>
	</div>
</div>
<!-- CONTENT 
================================================== -->
<div class="row">
	<div class="twelve columns">
		<div class="centersectiontitle">
			<h4>News and Links</h4>
		</div>
	</div>
	<div class="four columns">
		<h5>News</h5>
		<p>
			
		</p>
		
	</div>
	<div class="four columns">
		<h5>PSG iTech and AU Web Portals</h5>
		<p>
			<a href="https://www.annauniv.edu/">Anna University Home Page</a><br><br>
			<a href="https://coe1.annauniv.edu/home/">Anna University Results Portal</a><br><br>
			<a href="http://psgitech.ac.in/">psgitech.ac.in</a><br><br>
			<a href="https://psgitechlibrary.blogspot.com/">PSG iTech Library</a><br><br>
			<a href="http://students.psgitech.ac.in/">PSG iTech Student Info</a>		
		</p>
	</div>
	<div class="four columns">
		<h5>Other Useful Websites</h5>
		<p>
			<a href="https://www.brainkart.com/menu/anna-university/">brainkart.com</a><br><br>
			<a href="https://studentsfocus.com/">studentsfocus.com</a><br><br>
			<a href="https://www.rejinpaul.com/2013/06/ece-eee-cse-it-mech-civil-bme-mba-mca-me-notes-anna-university.html">rejinpaul.com</a><br><br>
			<a href="https://easyengineering.net/anna-university/">easyengineering.net</a><br><br>
			<a href="https://padeepz.net/anna-university-notes-regulation-2017/">padeepz.net</a><br><br>
			<a href="http://lecture.materialdownload.in/college/notes/Anna-University-1/">lecture.materialdownload.in</a>
		</p>		
	</div>
</div>
<div class="hr">
</div>
<!-- TESTIMONIALS 
================================================== -->
<div class="row">
	<div class="twelve columns">
		<div id="testimonials">
			<blockquote>
				<p>
					"Kadavul illanu sollala, iruntha nalla irukumnu thaan solren"<cite>Paldurai</cite>
				</p>
			</blockquote>
			<blockquote>
				<p>
					 "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco." <cite>Sandra - LA</cite>
				</p>
			</blockquote>
			<blockquote>
				<p>
					 "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco." <cite>Jason - MA</cite>
				</p>
			</blockquote>
		</div>
		<!--end testimonials-->
	</div>
</div>

<!-- FOOOTER 
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
		<h1>ABOUT US</h1>
		Our Main Goal is to benefit the Circuit Branch Students of PSG iTech.
	</div>
	<div class="four columns">
		<h1>GET SOCIAL</h1>
		<a href="https://www.facebook.com/psgitar"><i class="fa fa-facebook-square fa-2x"></i></a>&emsp;&ensp;
		<a href="https://twitter.com/psgitarofficial"><i class="fa fa-twitter-square fa-2x"></i></a>&emsp;&ensp;
		<a href="https://www.youtube.com/channel/UCKKixBjQDWjYAFS0MKgYlSg"><i class="fa fa-youtube-play fa-2x"></i></a>&emsp;&ensp;
		<a href="https://in.linkedin.com/in/psgitar"><i class="fa fa-linkedin-square fa-2x"></i></a>&emsp;&ensp;
		
	</div>
	
	</footer>
</div>
<div class="copyright">
	<div class="row">
		<div class="six columns">
			 &copy;<span class="small"> Copyright Your Agency Name</span>
		</div>
		
	</div>
</div>
<!-- JAVASCRIPTS 
================================================== -->
<!-- Javascript files placed here for faster loading -->
<script src="{% static 'javascripts/foundation.min.js' %}"></script>   
<script src="{% static 'javascripts/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'javascripts/elasticslideshow.js' %}"></script>
<script src="{% static 'javascripts/jquery.carouFredSel-6.0.5-packed.js' %}"></script>
<script src="{% static 'javascripts/jquery.cycle.js' %}"></script>
<script src="{% static 'javascripts/app.js' %}"></script>
<script src="{% static 'javascripts/modernizr.foundation.js' %}"></script>
<script src="{% static 'javascripts/slidepanel.js' %}"></script>
<script src="{% static 'javascripts/scrolltotop.js' %}"></script>
<script src="{% static 'javascripts/hoverIntent.js' %}"></script>
<script src="{% static 'javascripts/superfish.js' %}"></script>
<script src="{% static 'javascripts/responsivemenu.js' %}"></script>
</body>
</html>