<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action ='temp'>
        <input type="text" placeholder="title" name='title'><br>
        <input type="file"  name='image' accept=".png"><br>
        <input type="text" placeholder="description" name='desc'><br>
        <input type="date" placeholder="date" name='date'><br>
        <input type="submit" value ='submit'> 
    </form>
</body>
</html>